@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121416;
  margin: auto;
}

.headerdesktop {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 1em;
  padding-top: 1em;
}

#small-basket {
  color: lightgrey;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

header {
  background: linear-gradient(black 92%, #5ca08e);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: #121416;
  width: 80%;
  height: 90%;
  overflow: hidden;
  margin-left: 42px;
  transform: translateY(-110%);
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.ham:hover {
  cursor: pointer;
}

.showNav {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);

}

.navbar ul {
  width: 80%;
  height: 90%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.navbar ul li a {
  color: #fffff1;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-size: 1.1em;
  margin-left: 3.5em;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  color: #5ca08e;
  cursor: pointer;
}

.navbar .here {
  text-decoration: underline;
  text-decoration-color: #5ca08e;
  color: #5ca08e;
}

.lineone,
.linetwo,
.linethree {
  width: 38px;
  height: 5px;
  border-radius: 25px;
  background-color: #fffff1;
  margin: 7px;
  transition: 0.5s;
  box-shadow: 2px 2px 4px #000000;
}

.change .lineone {
  transform: rotate(45deg) translate(-1px, 10px);
}

.change .linetwo {
  opacity: 0;
}

.change .linethree {
  transform: rotate(-45deg) translate(5px, -19px);
}

.logo {
  width: 10em;
  display: block;
  margin-bottom: -0.55em;
  margin-top: -4em;
  margin-left: -2em;
}

.kundkorg {
  width: 4.4em;
  margin-top: -5em;
}

#small-basket {
  color: lightgrey;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

.desktopmeny ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.desktopmeny li a {
  display: block;
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

.desktopmeny li a:hover {
  color: #5ca08e;
  text-decoration: underline;
  transition: 0.8s;
}

.desktopmeny .here {
  text-decoration: underline;
  text-decoration-color: #5ca08e;
  text-decoration-style: double;
}

#wrapper {
  max-width: 1340px;
  margin: auto;
  background-color: #121416;
  min-height: 65vh;
  z-index: 0;
  position: relative;
}

.wrapper1 {
  max-width: 1340px;
  margin: auto;
  background-color: #fffff1;
  padding: 3em;
  z-index: 0;
  position: relative;
}

.wrapper2 {
  max-width: 1340px;
  margin: auto;
  background-color: #fffff1;
  padding: 3em;
  z-index: 0;
  position: relative;
}

#cart :hover .kundkorg {
  opacity: 0.7;
  transition: 0.5s;
}

.logo:hover {
  opacity: 0.7;
}

h1 {
  margin-bottom: 1em;
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  z-index: -1;
  position: relative;
}

h2 {
  padding-bottom: 0.5em;
  margin-left: -9.4em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

.articleh2 {
  margin: auto;
}

.varuh2 {
  padding-bottom: 0.5em;
  margin-left: -5.7em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

.h2om {
  padding-bottom: 1em;
  margin-left: -0.5em;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

.ombild {
  width: 100%;
  padding-top: 2em;
}

h3 {
  font-family: 'Playfair Display', serif;
}

.indeximg {
  width: 100%;
}

.infoh3 {
  padding-bottom: 0.5em;
  text-align: center;
  margin-left: -9.8em;
}

.producth2 {
  color: white;
  margin: auto;
}

.pinfo {
  max-width: 40ch;
  margin: auto;
  margin-bottom: 1em;
}

.productpage {
  background-color: #fffff1;
  width: 90%;
  max-width: 1340px;
  margin: auto;
}

.productimage2 {
  max-width: 200px;
  display: flex;
  margin: auto;
}

.breadcrumbs {
  padding-left: 2.7em;
  margin-top: 1.3em;
  color: white;
  font-size: 0.9em;
  font-family: 'Verdana', sans-serif;
  z-index: -0;
  position: relative;
}

.breadcrumbs a {
  color: #5ca08e;
}

.breadcrumbs a:hover {
  color: white;
}

#indexh2 {
  color: white;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  margin-top: -2em;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 2em;
}

p {
  font-family: 'Monsterrat', sans-serif;
  line-height: 1.5em;
  text-align: left;
  max-width: 40ch;
}

#droneh2 {
  padding-top: 1em;
  margin: auto;
  padding-bottom: 1em;
}

.videodrone {
  margin-top: -5em;
  width: 70%;
  max-width: 600px;
  display: block;
  margin: auto;
}

#flex-center {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

footer {
  background-color: #08221b;
  color: white;
  padding-top: 1em;
  line-height: 1.5em;
  padding-bottom: 1em;
  width: 100%;
  height: 12rem;
}

footer h3 {
  padding-bottom: 0.5em;
}

footer ul {
  list-style-type: none;
  margin-bottom: 1em;
}

footer li a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

footer li a:hover {
  color: #5ca08e;
  text-decoration: underline;
  transition: 0.8s;
}

li {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #5ca08e;
  color: white;
  padding: 0.3em;
  width: 10em;
  border: none;
  border-radius: 30px;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  transition: 0.8s;
  background-color: #335a50;
  color: white;
  cursor: pointer;
}

#notify {
  z-index: 1000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #08221b;
  color: white;
  transition: 1s;
}

#notify p {
  margin: auto;
  text-align: center;
  font-family: 'Merriweather', serif;
  transition: 1s;
  padding-top: 10px;
}

#notify.visible {
  height: 3em;
}

.priceunderspec {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.priceunderspecsek {
  font-family: 'Merriweather', serif;
  margin-bottom: 1em;
}

.price {
  margin-top: -1em;
  margin-bottom: 1em;
  font-family: 'Merriweather', serif;
  background-color: lightgrey;
  padding-bottom: 0.7em;
}

.productphoto {
  margin: 4em;
}

.product-description {
  padding-left: 1em;
}

.productheadingspec {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  margin-left: -1em;
  padding-bottom: 0.5em;
}

.slideshow-container {
  width: 400px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.slideshowimage {
  max-width: 400px;
  max-height: 300px;
  margin-top: 2em;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 10px;
  transition: 0.8s ease;
  background-color: #fffff1;
  opacity: 0.7;
  border-radius: 3px;
}

.prev {
  left: -1.5em;
}

.next {
  right: -1.5em;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.form input[type=submit] {
  width: 6em;
  height: 2em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 30px;
  background-color: #5ca08e;
  color: white;
  cursor: pointer;
  border: none;
}

.form input[type=reset]:hover {
  transition: 0.8s;
  background-color: #335a50;
  color: white;
}

.form input[type=reset] {
  width: 6em;
  height: 2em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 30px;
  text-align: center;
  background-color: #5ca08e;
  color: white;
  cursor: pointer;
  border: none;
}

.form input[type=submit]:hover {
  transition: 0.8s;
  background-color: #335a50;
  color: white;
}

form {
  margin-bottom: 1em;
}

input {
  width: 200px;
  margin-bottom: 0.4em;
  background-color: #dfdfe5;
  border-radius: 7px;
  border: solid 1px lightgrey;
}

textarea {
  background-color: #dfdfe5;
  border-radius: 7px;
  border: solid 1px lightgrey;
}

label {
  font-family: 'Montserrat', sans-serif;
}

.varukorg {
  margin: auto;
}

fieldset {
  border: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.videodesktop {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
}

.dronephoto {
  width: 80%;
  margin-top: 1em;
}

.buybutton {
  margin-top: 1em;
  margin-left: -1em;
  font-family: 'Playfair Display', serif;
  padding: 1em;
  border: none;
  border-radius: 30px;
  text-align: center;
  background-color: #5ca08e;
  color: #fffff1;
}

.buybutton:hover {
  background-color: #335a50;
  color: white;
  cursor: pointer;
}

.productbutton {
  background-color: #5ca08e;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.productbutton:hover {
  transition: 0.8s;
  background-color: #335a50;
  color: white;
  cursor: pointer;
}

#reset {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {

  .logo {
    width: 10em;
    display: block;
    margin: auto;
    margin-top: -0.8em;
    top: 0;
    padding: 0;
    border-bottom: solid white;
  }

  .kundkorg {
    width: 40px;
    position: absolute;
    right: 0.3em;
    margin-top: 2.4em;
  }

  #cart {
    padding: 0;
    margin: 0;
  }

  #small-basket {
    font-size: 0.7em;
    display: block;
    position: absolute;
    right: 4.2em;
    margin-top: 5.4em;
    padding: 0;
  }

  .mobile {
    border-radius: 5px;
    z-index: 100000;
    width: 50px;
    height: 50px;
    margin-top: 6em;
    position: absolute;
    left: 0;
  }

  .headerdesktop {
    padding-bottom: 4em;
  }

  .videodesktop {
    display: none;
  }

  .videoipad {
    display: none;
  }

  .videomobil {
    margin: auto;
    width: 100%;
    max-width: 1500px;
  }

  .desktopmeny {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    padding-left: 2em;
    line-height: 1.5em;
  }

  .shop-grid3 {
    width: 90%;
    max-width: 1340px;
    margin: auto;
  }

  .shop-grid3 div {
    letter-spacing: 1.5px;
  }

  .shop-grid3 div {
    background-color: #fffff1;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }

  .shop-grid3 img {
    width: 100%;
  }

  .productheading {
    font-size: 1.4em;
    background-color: lightgrey;
    padding-top: 0.5em;
    font-family: 'Playfair Display', serif;
    padding-bottom: 1em;
  }

  .dronephoto {
    width: 100%;
    margin-top: 1em;
  }

  .product-item {
    padding-left: 4em;
  }

  .pricespec {
    font-size: 0.7em;
  }

  .product {
    margin: 0.5em;
    line-height: 1.5em;
  }

  .mobileproduct {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mobilephoto {
    width: 80%;
    max-width: 280px;
    margin: auto;
  }

  .productheadingphoto {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
  }

  .descriptionheading {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
  }

  .productp {
    padding-bottom: 1em;
    max-width: 60ch;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }

  .slideshow-container {
    display: none;
  }

  .slideshowimage {
    display: none;
  }

  .prev,
  .next {
    display: none;
  }

  .next {
    display: none;
  }

  .dotsunderslideshow {
    display: none;
  }

  .h2om {
    padding-left: 0.4em;
    margin-bottom: -0.4em;
  }

  .h2om2 {
    text-align: left;
    font-size: 1.8em;
    margin-top: 1em;
  }

  .medarbetare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;

  }

  #cart {
    padding-bottom: 2em;
    margin-top: 1em;
  }

  .varukorg {
    font-size: 1.5em;
  }

  td img {
    width: 40%;
    margin-left: 1.5em;
  }

  table {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
  }

  thead td {
    padding: 1em;
    font-size: 0.9em;
    font-family: 'Playfair Display', serif;
  }

  .checkout-sum {
    padding-left: 50%;
  }

  h2 {
    padding-bottom: 0.5em;
    margin-left: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }

  .varuh2 {
    padding-bottom: 0.5em;
    margin-left: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }

  .infoh3 {
    padding-bottom: 0.5em;
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 910px) {
  .desktopmeny {
    display: none;
  }

  .videomobil {
    display: none;
  }

  .videodesktop {
    display: none;
  }

  .videoipad {
    width: 100%;
    margin: auto;
  }

  .logo {
    width: 10em;
    display: block;
    margin: auto;
    margin-top: -0.8em;
    top: 0;
    padding: 0;
    border-bottom: solid white;
  }

  .kundkorg {
    width: 40px;
    position: absolute;
    right: 0.3em;
    margin-top: 6px;
  }

  #cart {
    padding: 0;
    margin: 0;
  }

  #small-basket {
    font-size: 0.7em;
    display: block;
    position: absolute;
    right: 4.2em;
    margin-top: 2.5em;
    padding: 0;

  }

  .mobile {
    border-radius: 5px;
    z-index: 100000;
    width: 50px;
    height: 50px;
    margin-top: 6em;
    position: absolute;
    left: 0;
  }

  .headerdesktop {
    padding-bottom: 4em;
  }

  .gridindex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    line-height: 1.5em;
  }

  .grid-item-footer1 {
    margin-left: 60%;
  }

  .grid-item-footer2 {
    margin-left: 10%;
  }

  .shop-grid3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1340px;
    margin: auto;
  }

  .shop-grid3 div {
    letter-spacing: 1.5px;
  }

  .shop-grid3 div {
    background-color: #fffff1;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }

  .shop-grid3 img {
    width: 100%;
  }

  .productheading {
    font-size: 1.5em;
    background-color: lightgrey;
    padding-top: 0.5em;
    font-family: 'Playfair Display', serif;
    padding-bottom: 1em;
  }

  .pricespec {
    font-size: 0.7em;
  }

  .grid-center-product {
    display: flex;
    justify-content: center;
  }

  .product {
    margin: 1em;
    line-height: 1.5em;
  }

  .product-item {
    padding-top: 3em;
    padding-left: 6em;
    padding-bottom: 2em;
  }

  .productheadingphoto {
    font-family: 'Playfair Display', serif;
    padding-left: 3em;
    padding-top: 2em;
    font-size: 1.5em;
  }

  .product-description {
    padding-left: 4em;
  }

  .descriptionheading {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }

  .productp {
    padding-bottom: 1em;
    max-width: 60ch;
    font-family: 'Montserrat', sans-serif;
  }

  .mobilephoto {
    display: none;
  }

  .articleom {
    margin-left: 2em;
  }

  .h2om {
    padding-bottom: 1em;
    margin-left: 0.1em;
    text-align: left;
    font-family: 'Playfair Display', serif;
  }

  .h2om2 {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: 0.1em;
    text-align: left;
    font-family: 'Playfair Display', serif;
  }

  .medarbetare {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    padding-right: 10em;
    width: 50%;
  }

  table {
    width: 75%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

  thead td {
    padding: 1em;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
  }

  tbody td {
    padding: 1em;
  }

  .checkout-sum {
    padding-left: 78%;
  }
}

@media only screen and (min-width: 910px) {
  .videomobil {
    display: none;
  }

  .videoipad {
    display: none;
  }

  .mobile {
    display: none;
  }

  .navbar {
    display: none;
  }

  .kundkorg {
    margin-top: 1em;
  }

  .gridindex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    line-height: 1.5em;
  }

  .grid-item-footer1 {
    margin-left: 60%;
  }

  .grid-item-footer2 {
    margin-left: 10%;
  }

  .grid-item-footer1 {
    margin-left: 70%;
  }

  .grid-item-footer2 {
    margin-left: 10%;
  }

  .shop-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-width: 1340px;
    margin: auto;

  }

  .shop-grid3 div {
    letter-spacing: 1.5px;
  }

  .shop-grid3 div {
    background-color: #fffff1;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }

  .shop-grid3 img {
    width: 100%;
  }

  .videodrone {
    margin-top: -5em;
    padding-bottom: 1em;
  }

  .productheading {
    font-size: 1.5em;
    background-color: lightgrey;
    padding-top: 0.5em;
    font-family: 'Playfair Display', serif;
    padding-bottom: 1em;
  }

  .pricespec {
    font-size: 0.7em;
  }

  .grid-center-product {
    display: flex;
    justify-content: center;
  }

  .product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    margin: 1em;
    line-height: 1.5em;
  }

  .product-item {
    padding-top: 3em;
  }

  .productheadingphoto {
    font-family: 'Playfair Display', serif;
    padding-left: 8em;
    padding-top: 2em;
    font-size: 1.5em;
  }

  .descriptionheading {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
  }

  .product-description {
    padding-left: 5em;
  }

  .productp {
    padding-bottom: 1em;
    max-width: 60ch;
    font-family: 'Montserrat', sans-serif;
  }

  .dronephoto {
    width: 80%;
    margin-left: 2em;
    margin-top: 1em;
  }

  .mobilephoto {
    display: none;
  }

  .omgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: auto;
  }

  .medarbetare {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    padding-left: 3em;
  }

  .medarbetarnamn {
    padding-left: 3em;
  }

  form {
    margin-top: 1em;
  }

  .kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    max-width: 960px;
    margin-left: 9em;
  }

  table {
    width: 75%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  }

  thead td {
    padding: 1em;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
  }

  tbody td {
    padding: 1em;
  }

  .checkout-sum {
    padding-left: 78%;
  }

  .h2om {
    padding-left: 0.4em;
    padding-bottom: 0.5em;
  }

  .h2om2 {
    margin-left: -1.3em;
    padding-bottom: 0.5em;
  }

  .wrapper2 {
    max-width: 1340px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    background-color: #fffff1;
    padding: 3em;
  }
}

@media only screen and (min-width: 1360px) {
  .breadcrumbs {
    margin-left: 10em;
  }
}